<h1>Welcome to rock, paper, scissors.</h1>
<p>To play - add the choices of Player1 and Player2 to end of the URL at <strong>http://localhost:4567/play</strong> - e.g. <a href="http://localhost:4567/play/rock/paper">http://localhost:4567/play/rock/paper</a></strong></p>
